 <!-- Footer -->
 <footer>
    <div class="footer-column">
      <div class="footer-copyright">
        <p>
          2022 <i class="far fa-copyright"></i> All rights reserved by JODLI
          3A
        </p>
      </div>
      <div class="footer-menu">
        <a href="">Newsletter</a>
        <a href="">Support</a>
        <a href="#aboutMe">About</a>
        <a href="#myCourses">Courses</a>
        <a href="#myChallenge">Challenges</a>
      </div>
      <div class="footer-icon">
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
      <div class="footer-chat-box">
        <i class="fas fa-comments"></i>
      </div>
    </div>
  </footer>
  <script src="/public/javascript/index.js"></script>
</body>
</html>