<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JODLI 3A</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/public/css/styles.css" />
    <!-- Swiper js -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  </head>
  <body>
    <!-- nav-bar -->
    <nav class="topnav" id="navbar">
      <div class="logo">
        <img
          class="desktop-logo"
          src="/public/images/logo (2).png"
          alt=""
          srcset=""
          height=""
          width=""
        />
        <img
          class="mobile-logo"
          src="/public/images/logo (1).png"
          alt=""
          srcset=""
        />
      </div>
      <div class="nav-dummy"></div>
      <div class="menu" id="myMenu">
        <a href="" class="active">Home</a>
        <a href="#aboutMe">About</a>
        <a href="#myCourses">Courses</a>
        <a href="#myTestimonial">Testimonials</a>
        <a href="#myChallenge">Challenges</a>
        <a href="#contactMe">Contact</a>
        <a
          href="javascript:void(0);"
          class="close-icon"
          onclick="closemobileNav()"
        >
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="start">
        <a href="#myCourses" class="neon-button">Get Started</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="mobileNav()">
        <i class="fa fa-bars"></i>
      </a>
    </nav>
  </body>
</html>
