 <!-- about section -->
 <section class="about" id="aboutMe">
    <div class="about-dummy1"></div>
    <div class="about-img-box">
      <div class="about-img-sub-box">
        <img src="/public/images/sub-hero1.jpg" alt="" srcset="" />
      </div>
    </div>
    <div class="about-text-box">
      <div class="about-text-sub-box1">
        <h3>Who I Am?</h3>
        <p>
          I am a 3D designer, animator, Graphichs designer. Good designs great
          impact. I have been a designer over 2 yrs but I am still a newbie in
          this field.
        </p>
        <p>
          I want you all to know 3D design, VFX, Photoshop. Many of you may be
          thinking that my courses are expensive or not free. But do not worry
          as my most courses are free and those courses which are paid are not
          more than 5$.
        </p>
      </div>
      <div class="about-text-sub-box2">
        <a href="#contactMe" class="neon-button">Contact</a>
      </div>
    </div>
    <div class="about-dummy2"></div>
  </section>