<section class="challenge" id="myChallenge">
    <div class="challenge-heading">
      <h4>Recent Challenges</h4>
      <hr />
      <h3>Lorem ipsum dolor sit amet.</h3>
    </div>
    <div class="challenge-column">
      <div class="challenge-box">
        <div class="challenge-img-box">
          <img src="/public/images/challlenge1.jpg" alt="" srcset="" />
          <span class="live">Now Live</span>
        </div>
        <div class="challenge-text-box">
          <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam,
            laborum.
          </p>
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
      <div class="challenge-box">
        <div class="challenge-img-box">
          <img src="/public/images/challenge2.jpg" alt="" srcset="" />
          <span class="live">Now Live</span>
        </div>
        <div class="challenge-text-box">
          <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam,
            laborum.
          </p>
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
      <div class="challenge-box">
        <div class="challenge-img-box">
          <img src="/public/images/challenge3.jpg" alt="" srcset="" />
          <span class="live">Now Live</span>
        </div>
        <div class="challenge-text-box">
          <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam,
            laborum.
          </p>
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>
  </section>