<section class="contact" id="contactMe">
    <div>
      <div class="contact-header">
        <h4>Have Question?</h4>
        <hr />
        <h3>Contact Me Now</h3>
      </div>
      <div class="contact-box">
        <form action="/" method="post">
          <div class="contact-main-box">
            <div class="contact-sub-box1">
              <input
                type="text"
                name="name"
                id=""
                placeholder="Your Name"
              /><br />
              <input
                type="email"
                name="email"
                id=""
                placeholder="Your Email"
              /><br />
              <input
                type="text"
                name="phone"
                id=""
                placeholder="Your Phone"
              /><br />
            </div>
            <div class="contact-sub-box2">
              <textarea
                name="message"
                id=""
                cols="30"
                rows="9"
                placeholder="Your Message"
              ></textarea>
            </div>
            <div class="contact-sub-box3">
              <button type="submit">SUBMIT FORM</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>