<!-- Courses Section -->
<section class="courses" id="myCourses">
    <div class="courses-column courses-column1">
      <div class="dummy-course"></div>
      <div class="courses-box courses-box1">
        <div class="courses-img-box">
          <img src="/public/images/Blender-tutorial2.png" alt="" srcset="" />
        </div>
        <div class="courses-text-box">
          <span class="courses-tag">BLENDER</span>
          <span class="courses-heart"><i class="far fa-heart"></i></span>
          <span class="courses-enroll">480</span>
          <h3>Your First Day in Blender 3D</h3>
        </div>
      </div>
      <div class="courses-box courses-box2">
        <div class="courses-img-box">
          <img src="/public/images/3D-tutorial.jpg" alt="" srcset="" />
        </div>
        <div class="courses-text-box">
          <span class="courses-tag">BLENDER</span>
          <span class="courses-heart"><i class="far fa-heart"></i></span>
          <span class="courses-enroll">480</span>
          <h3>Create & Design Modern Interior using Blender 2.8</h3>
        </div>
      </div>
      <div class="courses-box courses-box3">
        <div class="courses-img-box">
          <img src="/public/images/Blender-tutorial.png" alt="" srcset="" />
        </div>
        <div class="courses-text-box">
          <span class="courses-tag">BLENDER</span>
          <span class="courses-heart"><i class="far fa-heart"></i></span>
          <span class="courses-enroll">480</span>
          <h3>Learn 3D Modeling using sketc-up</h3>
        </div>
      </div>
      <div class="dummy-course"></div>
    </div>
    <div class="courses-column courses-column2">
      <div class="dummy-course"></div>
      <div class="courses-box courses-box4">
        <div class="courses-img-box">
          <img src="/public/images/Blendfer-corridor.png" alt="" srcset="" />
        </div>
        <div class="courses-text-box">
          <span class="courses-tag">BLENDER</span>
          <span class="courses-heart"><i class="far fa-heart"></i></span>
          <span class="courses-enroll">480</span>
          <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
        </div>
      </div>
      <div class="courses-box courses-box5">
        <div class="courses-img-box">
          <img src="/public/images/3D-graphics-design.png" alt="" srcset="" />
        </div>
        <div class="courses-text-box">
          <span class="courses-tag">BLENDER</span>
          <span class="courses-heart"><i class="far fa-heart"></i></span>
          <span class="courses-enroll">480</span>
          <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Explicabo!
          </h3>
        </div>
      </div>
      <div class="courses-box courses-box6">
        <div class="courses-img-box">
          <img src="/public/images/3d-tutorial2.jpg" alt="" srcset="" />
        </div>
        <div class="courses-text-box">
          <span class="courses-tag">BLENDER</span>
          <span class="courses-heart"><i class="far fa-heart"></i></span>
          <span class="courses-enroll">480</span>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
      </div>
      <div class="dummy-course"></div>
    </div>
  </section>