
<main>
    <div class="main-text-box">
      <div class="main-text-sub-box1">
        <h5>THE ART OF 3D DESIGN</h5>
        <h1>Good Designs <span>Great Impact</span></h1>
        <h2>Ready to Bake in Blender.</h2>
        <p>
          I am a professional 3d designer. I have youtube channel Jodli 3A
          with a great number of followers.<br />
          I am in a jounery of helping others to learn blender easily for
          free.
        </p>
      </div>
      <div class="main-text-sub-box2">
        <p>FIND WITH ME</p>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
      <div class="main-text-sub-box3">
        <p>BEST SKILL ON</p>
        <img src="/public/images/blender-logo.png" alt="" srcset="" />
        <img src="/public/images/after-effect-logo.png" alt="" srcset="" />
        <img src="/public/images/photoshop-logo1.png" alt="" srcset="" />
      </div>
    </div>
    <div class="main-img-box">
      <div class="main-img-sub-box">
        <img src="/public/images/Head_LongB.png" alt="" srcset="" />
      </div>
    </div>
  </main>