<section class="testimonial" id="myTestimonial">
    <div class="testimonial-heading">
      <h4>Testimonials</h4>
      <hr />
      <h3>What They Says</h3>
    </div>
    <div class="swiper testimonialSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide testimonial-swiper-slide">
          <img src="/public/images/avtar1.png" alt="" srcset="" />
          <span>Peter Parker</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            voluptatem cum optio asperiores, voluptate minima delectus nihil
            eos explicabo tempora!
          </p>
        </div>
        <div class="swiper-slide testimonial-swiper-slide">
          <img src="/public/images/avtar2.png" alt="" srcset="" />
          <span>Joe Bidden</span>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum
            qui ipsam, in facere non eos. Architecto harum iste tempore
            exercitationem?
          </p>
        </div>
        <div class="swiper-slide testimonial-swiper-slide">
          <img src="/public/images/avtar3.png" alt="" srcset="" />
          <span>Mitchel Parker</span>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis eligendi vel corrupti ipsum suscipit architecto
            doloribus.
          </p>
        </div>
        <div class="swiper-slide testimonial-swiper-slide">
          <img src="/public/images/avtar1.png" alt="" srcset="" />
          <span>Peter Parker</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
            voluptatem cum optio asperiores, voluptate minima delectus nihil
            eos explicabo tempora!
          </p>
        </div>
        <div class="swiper-slide testimonial-swiper-slide">
          <img src="/public/images/avtar2.png" alt="" srcset="" />
          <span>Joe Bidden</span>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum
            qui ipsam, in facere non eos. Architecto harum iste tempore
            exercitationem?
          </p>
        </div>
        <div class="swiper-slide testimonial-swiper-slide">
          <img src="/public/images/avtar3.png" alt="" srcset="" />
          <span>Brenden mcculam</span>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum
            qui ipsam, in facere non eos. Architecto harum iste tempore
            exercitationem?
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>